{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block head %}
<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}
{% block content %}
{% if request.user.is_authenticated %}
{% if request.user.is_superuser %}
{% include 'home/superuser.html' %}
{% elif request.user.is_product_manager %}
{% include 'home/productmanager.html' %}
{% elif request.user.is_stock_manager %}
{% include 'home/stockmanager.html' %}
{% elif request.user.is_agent %}
{% include 'home/agent.html' %}
{% else %}

{% endif %}
{% else %}
<section class="cover">
    <div>
        <p class="h1">High Quality</p>
        <p class="prod">Products</p>
        <p class="action"><a href="{% url 'login' %}">Shop Now</a></p>
    </div>
</section>
<section class="ab">
        <ul>
            <li>-  24 x 7 free support</li>
            <li>-  money back guarantee</li>
            <li>-  free worldwide shipping</li>
        </ul>
</section>
<section class="new">
    <h1 style="text-align: center">new arrivals</h1>
    <!-- Latest new products here -->
</section>
<section class="news">
    <div class="articles">
        <h1>Our latest news</h1>
        <!-- Latest news here -->
    </div>
    <div class="vectors">
        <img src="{% static 'img/Vector Smart Object 6.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 5.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 4.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 3.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 2.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 1.png' %}" alt="">
        <img src="{% static 'img/Vector Smart Object 0.png' %}" alt="">
    </div>
</section>
{% endif %}
{% endblock content %}