<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/superuser.css' %}">
</head>
<body>
  <div class="container-scroller d-flex">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charts' %}">
            <i class="mdi mdi-chart-pie menu-icon"></i>
            <span class="menu-title">Charts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Users</span>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Products</p>
          <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Add Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">View Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Edit Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'delete_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Delete Product</span>
            </a>
          </li>
        <li class="nav-item sidebar-category">
          <p>Categories</p>
          <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Add Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">View Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Update Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'delete_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Delete Category</span>
            </a>
          </li>
          <li class="nav-item sidebar-category">
            <p>Account</p>
            <span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
      </ul>
    </nav>
  </div>

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>