<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/superuser.css' %}">
  <style>
      #nav-top {
        height: 40vh;
        width: 20%;
        list-style-type: none;
        margin: 0;
        margin-top: 150px;
        padding: 0;
        overflow: hidden;
      }

      #nav-top li {
        width: 50%;
        text-align: center;
      }

      #nav-top li a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
      }
    </style>
</head>
<body>
  <div class="container-scroller d-flex">
    <nav class="sidebar sidebar-offcanvas" id="sidebar" style="float: left;">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charts' %}">
            <i class="mdi mdi-chart-pie menu-icon"></i>
            <span class="menu-title">Charts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Users</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item sidebar-category">
          <p>Products</p>
          <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Add Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">View Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Edit Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'delete_prod' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Delete Product</span>
            </a>
          </li>
        <li class="nav-item sidebar-category">
          <p>Categories</p>
          <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Add Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">View Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Update Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'delete_cat' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Delete Category</span>
            </a>
          </li>
          <li class="nav-item sidebar-category">
            <p>Account</p>
            <span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
      </ul>
    </nav>
    <ul id="nav-top">
      <li class="nav-top-item"><a href="">Create user</a></li>
      <li class="nav-top-item"><a href="{% url 'users-read' %}">Read users</a></li>
      <li class="nav-top-item"><a href="{% url 'edit_users' %}">Update user</a></li>
      <li class="nav-top-item"><a href="{% url 'delete_user' %}">Delete user</a></li>
    </ul>
    <hr> <br>
    <div class="container animated bounce" style="margin: 20px -20px;">
      <h1 style="text-align: center;">Edit user {{ user.id }}</h1>
        <form id="form1" runat="server" class="form-group" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="username">{{ form.username.label }}</label>
          <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
          <label for="phone">{{ form.phone.label }}</label>
          <input type="text" id="phone" name="phone" class="form-control" value="{{ user.phone }}">
          <label for="is_product_manager">{{ form.is_product_manager.label }} ?</label>
          <input type="checkbox" id="is_product_manager" name="is_product_manager" class="form-control" value="Is Product Manager">
          <label for="is_stock_manager">{{ form.is_stock_manager.label }} ?</label>
          <input type="checkbox" id="is_stock_manager" name="is_stock_manager" class="form-control" value="Is Stock Manager">
          <label for="is_agent">{{ form.is_agent.label }} ?</label>
          <input type="checkbox" id="is_agent" name="is_agent" class="form-control" value="Is Agent">
          <label for="is_simple_user">{{ form.is_simple_user.label }} ?</label>
          <input type="checkbox" id="is_simple_user" name="is_simple_user" class="form-control" value="Is Simple User">
          <button type="submit" class="btn btn-success">Save</button>
          {% if form.errors %}
          {{fields.label}}
          {{form.errors}}
          {% endif %}
        </form>
  </div>
  </div>

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>