@font-face {
    font-family: GreatVibes Regular;
    src: url("../fonts/GreatVibes-Regular.ttf");
}

.cover{
    height: 83vh;
    background: url('../img/beautiful-woman-with-curls-makeup.png');
    background-size: contain;
}

.cover div{
    width: 30%;
    height: 60%;
    text-align: left;
    transform: translate(80px, 180px);
}

.cover div .h1{
    font-family: GreatVibes Regular;
    font-size: 42px;
    color: rgb(158, 156, 156);
    text-align: center;
}

.cover div .prod{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.cover div .action{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: crimson;
    padding: 10px 15px;
    transform: translateY(-50px);
    margin: 50px 100px;
    margin-top: 100px;
}

.cover div .action a{
    color: white;
    text-decoration: none;
}

.ab{
    height: 75vh;
    background: url("../img/Effects.png");
    background-size: contain;
}

.ab ul{
    float: right;
}

.ab ul li{
    margin: 80px 160px;
    padding: 20px 30px;
    background-color: rgb(247, 232, 204);
    width: 50%;
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new{
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 60vh;
}

.new h1{
    transform: translateX(310px);
    overflow: hidden;
}

.latest{
    background-color: white;
    width: 15%;
    display: inline-block;
    height: 50vh;
    margin: 10px 10px;
}

.latest a{
    color: black;
    text-decoration: none;
}

.latest img{
    width: 100%;
    height: 80%;
}

.latest h6{
    margin: 10px;
}

.latest .price{
    font-size: 16px;
    text-align: center;
}

.news{
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.news .latest_posts{
    width: 40%;
    display: inline-block;
    margin: 10px 10px;
}

.latest_posts img{
    width: 100%;
    height: 50%;
}

.latest_posts a{
    text-decoration: none;
    color: black;
}

.latest_posts .published{
    width: 100px;
    height: 50px;
    float: right;
    position: absolute;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 30px;
    padding: 15px;
    transform: translateX(350px);
}

.latest_posts .desc{
    font-size: 14px;
    margin: 20px 0;
    color: gray;
}

.latest_posts .views{
    font-size: 16px;
}

.vectors{
    height: 30%;
}

.vectors img{
    margin: 0 30px;
}
